<mat-toolbar>
  <span>Welcome {{ user?.firstName | uppercase  }}</span>
  <div class="nav">
    <div class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="">Home</a>
    </div>
    <div class="nav-item" routerLinkActive="active">
      <a routerLink="/all-tickets" >See All Tickets</a>
    </div>
    <div *ngIf="isAdmin" routerLinkActive="active" class="nav-item">
      <a routerLink="/new-ticket">Add New Ticket</a>
    </div>
    <div class="nav-logout">
      <button (click)="logout()" mat-raised-button color="warn">LogOut</button>
    </div>
  </div>
</mat-toolbar>
