<div class="new">
  <form class="new-form" [formGroup]="ticketsForm" (submit)="onSubmit()">
    <div class="d-flex justify-between">
      <div class="new-title">Add New Tickets</div>
      <button (click)="addNewFormItem($event)" mat-raised-button color="primary">+</button>
    </div>
    <ng-container formArrayName="tickets">
      <div class="new-formarray__item" *ngFor="let ticket of tickets.controls; index as i">
       <ng-container [formGroupName]="i">
        <div class="d-flex justify-between">
          <mat-form-field class="half-width-input new-form__field">
            <input matInput placeholder="Inbound" formControlName="inbound" required>
            <mat-error>
              Please provide a inbound
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width-input new-form__field">
            <input matInput placeholder="Outbound" formControlName="outbound" required>
            <mat-error *ngIf="tickets.controls[i].get('outbound')?.errors?.sameValidator">
              Outbound can not be the same as inbound
            </mat-error>
            <mat-error *ngIf="tickets.controls[i].get('outbound')?.errors?.required">
              Please provide a outbound
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field class="full-width-input new-form__field">
          <mat-label>Ticket Type</mat-label>
          <mat-select (selectionChange)="ticketTypeChange($event.value, i)" formControlName="ticket_type">
            <mat-option *ngFor="let ticketType of ticketTypes" [value]="ticketType">
              {{ticketType.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width-input new-form__field" appearance="fill">
          <mat-label>Choose a from date</mat-label>
          <input formControlName="from_date" matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width-input new-form__field" appearance="fill">
          <mat-label>Choose a to date</mat-label>
          <input formControlName="to_date" matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <div class="d-flex justify-between">
          <mat-form-field class="half-width-input new-form__field">
            <input type="number" min="0" matInput placeholder="Seat Number" formControlName="seat_number" required>
            <mat-error>
              Please provide a seat number
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width-input new-form__field">
            <input type="number" matInput placeholder="Price" formControlName="price" required>
            <mat-error *ngIf="tickets.controls[i].get('price')?.errors?.required">
              Please provide a price
            </mat-error>
            <mat-error *ngIf="tickets.controls[i].get('price')?.errors?.min">
              Price should be more than 0
            </mat-error>
          </mat-form-field>
        </div>
       </ng-container>
      </div>
    </ng-container>
    <button class="new-submit" mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
