
<div class="ticket">
  <div class="ticket-search">
    <app-search-tickets (newItemEvent)="filterData($event)"></app-search-tickets>
  </div>
  <div class="ticket-title d-flex justify-between">
    <span>See All Tickets</span>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="pagination">
      <button [disabled]="this.page_number == 0" class="pagination-btn" (click)="goToFirstPage()" mat-raised-button color="primary"> << </button>
      <button [disabled]="this.page_number == 0" class="pagination-btn" (click)="changePreviusPage()" mat-raised-button color="primary"> < </button>
      <button [disabled]="this.last_page_number == this.page_number +1" class="pagination-btn" (click)="changeNextPage()" mat-raised-button color="primary"> > </button>
      <button [disabled]="this.last_page_number == this.page_number +1" class="pagination-btn" (click)="goToLastPage()" mat-raised-button color="primary"> >> </button>
    </div>
  </div>
  <mat-card *ngFor="let ticket of results" class="ticket-item">
    <mat-card-title>{{ ticket.inbound }} -> {{ ticket.outbound }}</mat-card-title>
    <mat-card-subtitle>
      Id: {{ ticket.id }}
    </mat-card-subtitle>
    <mat-card-content>
      <div class="ticket-item__label"><span>Ticket Type:</span> {{ ticket.ticket_type.type }}</div>
      <div class="ticket-item__dates">
        <div class="ticket-item__label"><span>From Date:</span> {{ ticket.from_date | date }}</div>
        <div class="ticket-item__label"><span>To Date:</span> {{ ticket.to_date | date }}</div>
      </div>
      <div class="ticket-item__label"><span>Seat number:</span> {{ ticket.seat_number }}</div>
      <div class="d-flex justify-between">
        <div class="ticket-item__price"><span>Price:</span> {{ ticket.ticket_type.price| currency }}</div>
        <button *ngIf="isAdmin" (click)="deleteTicket(ticket.id)" mat-raised-button color="warn">Delete</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
